# virtual env
.venv/

# python junk
__pycache__/
*.pyc

# data products / run outputs
Data/Gal_Profiles/**/Dump/
Data/Gal_Profiles/**/Testing/
Data/Gal_Profiles/**/checkpoint/
Data/Gal_Profiles/**/logs/

# Windows NTFS alternate data streams
*:Zone.Identifier
*Zone.Identifier

# OS files
.DS_Store

# ===============================
# HPC / Julia runtime artifacts
# ===============================
.julia_dist/
.julia/
.julia_logs/
.CondaPkg/

# ===============================
# Slurm output (repo root)
# ===============================
logs/
*.out
*.err
slurm-*.out

# Cluster run archives
Data/Gal_Profiles/Draco/default/cluster_outputs/
Data/Gal_Profiles/Segue1/default/cluster_outputs/

# Data/Gal_Profiles/Galaxy/default/cluster_outputs/
which_galaxy
