# virtual env
.venv/

# python junk
__pycache__/
*.pyc

# data products / run outputs
Data/Gal_Profiles/**/Dump/
Data/Gal_Profiles/**/Testing/
Data/Gal_Profiles/**/checkpoint/
Data/Gal_Profiles/**/logs/

# Windows NTFS alternate data streams
*:Zone.Identifier
*Zone.Identifier

# OS files
.DS_Store
